@charset "utf-8";

//brand colors
$bsa-dark-blue: #3a5372;
$bsa-light-blue: #9aa8b9;
$bsa-bright-blue: #346fb7;
$bsa-gold: #b37700; //#c68b15;
$bsa-light-gold: #d5c485;
$bsa-red: #972228;

//overriding bulma initial variables
$tablet: 768px;

//typography
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap");

$family-sans-serif: "Quicksand", sans-serif;
$family-monospace: "Anonymous Pro", monospace;

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";

//overriding Bulma derived variables/defaults

$primary: $bsa-dark-blue;
$danger: $bsa-red;

$text: $bsa-dark-blue;
$body-weight: $weight-medium;
$link: $bsa-gold;
$link-visited: $bsa-bright-blue;

$footer-background-color: $white-ter;
$footer-padding: 2rem 0rem;

$content-heading-color: $bsa-dark-blue;
$content-blockquote-border-left: $bsa-light-gold;
$content-blockquote-background-color: findLightColor($bsa-light-gold);

$card-footer-border-top: 1px solid $bsa-light-blue;

$code: $bsa-dark-blue;
$pre-background: none;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

strong {
  color: $bsa-dark-blue !important;
}

.content {
  padding-bottom: 3rem;

  ol li {
    padding-bottom: 0.75rem;
  }

  table thead th {
    color: $text !important;
  }

  p.is-pulled-left {
    img {
      padding-right: 1rem;
      width: 37vw;

      @media screen and (max-width: $tablet) {
        width: 100vw;
      }
    }
  }

  p.is-pulled-right {
    img {
      padding-left: 1rem;
      width: 37vw;
    }

    @media screen and (max-width: $tablet) {
      width: 100vw;
    }
  }
}

.columns.is-reversed {
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
  }
}

//bsa custom classes

.bsa-logo {
  height: 3rem;
  padding-right: 0.75rem;
  position: relative;
  top: 0.17rem;
}

.bsa-full-logo {
  display: block;
  margin: 0 auto;
  width: 12rem;

  @media screen and (max-width: $tablet) {
    width: 80vw;
  }
}

.bsa-social {
  svg {
    width: 1.75rem;
    padding: 0 0.25rem;

    @media screen and (min-width: $desktop) {
      width: 2rem;
    }
  }
}

.bsa-margin {
  @media screen and (max-width: 1023px) {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
}

.bsa-footer {
  border-top: 6px solid $bsa-light-gold;
}

.bsa-container {
  min-height: calc(100vh - 6rem);
}

.bsa-card {
  height: 100%;

  &.project-card {
    display: flex;
    flex-direction: column;

    .card-footer {
      margin-top: auto;
    }
  }
}

.bsa-post-img {
  width: 100%;
}

.bsa-project {
  p:first-of-type {
    @media screen and (min-width: $tablet) {
      font-size: $size-5;
    }
  }

  &-img {
    text-align: center;
    @media screen and (min-width: $tablet) {
      float: right !important;
      padding-left: 0.25rem;
    }
  }
}

//iconify

.iconify {
  width: 1.25em;
  height: 1.25em;
  vertical-align: text-bottom !important;
}

@import "./prism-nord.css"; //css for syntax highlighting
@import "./bulma-tags.scss"; //same logic as bulma tags just separated to avoid conflict with prism classes
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/form/tools.sass";
