@charset "utf-8";

//brand colors
$bsa-dark-blue: #3a5372;
$bsa-light-blue: #9aa8b9;
$bsa-bright-blue: #346fb7;
$bsa-gold: #b37700; //#c68b15;
$bsa-light-gold: #d5c485;
$bsa-red: #972228;

//typography
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap");

$family-sans-serif: "Quicksand", sans-serif;
$family-monospace: "Anonymous Pro", monospace;

@import "../node_modules//bulma/sass/utilities/initial-variables.sass";
@import "../node_modules//bulma/sass/utilities/functions.sass";

//overriding Bulma defaults
$primary: $bsa-light-blue;
$danger: $bsa-red;

$text: $bsa-dark-blue;
$link: $bsa-gold;
$link-visited: $bsa-bright-blue;

$footer-background-color: $bsa-light-blue;
$footer-padding: 2rem 0rem;

$content-heading-color: $bsa-dark-blue;
$content-blockquote-border-left: $bsa-light-gold;
$content-blockquote-background-color: findLightColor($bsa-light-gold);

.content {
  padding-bottom: 3rem;
}

$code: $bsa-dark-blue;

//bsa custom classes

.bsa-margin {
  @media screen and (max-width: 1023px) {
    padding-left: 0.75rem !important;
  }
}

.bsa-footer {
  border-top: 6px solid $bsa-light-gold;
  min-height: 6rem;
}

.bsa-container {
  min-height: calc(100vh - 6rem);
}

@import "../node_modules/bulma/bulma.sass";
