@charset "utf-8";

//brand colors
$bsa-dark-blue: #3a5372;
$bsa-light-blue: #9aa8b9;
$bsa-bright-blue: #346fb7;
$bsa-gold: #b37700; //#c68b15;
$bsa-light-gold: #d5c485;
$bsa-red: #972228;

//overriding bulma initial variables
$tablet: 768px;

//typography

$family-sans-serif: "Quicksand", "Noto Color Emoji", sans-serif;
$family-monospace: "Fira Code", Consolas, "Courier New", monospace;

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";

//overriding Bulma derived variables/defaults

$primary: $bsa-dark-blue;
$danger: $bsa-red;

$text: $bsa-dark-blue;
$body-weight: $weight-medium;
$link: $bsa-gold;
$link-visited: $bsa-bright-blue;

$footer-background-color: $white-ter;
$footer-padding: 2rem 0rem;

$content-heading-color: $bsa-dark-blue;
$content-blockquote-border-left: $bsa-light-gold;
$content-blockquote-background-color: findLightColor($bsa-light-gold);

$card-footer-border-top: 1px solid $bsa-light-blue;

$code: $bsa-dark-blue;
$pre-background: none;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

strong {
  color: $bsa-dark-blue !important;
}

.content {
  padding-bottom: 3rem;

  ol li {
    padding-bottom: 0.75rem;
  }

  table thead th {
    color: $text !important;
  }

  p.is-pulled-left,
  p.is-pulled-right {
    img {
      padding: 0 1rem;
      width: 100vw;

      @media screen and (min-width: $desktop) {
        width: 37vw;
      }
    }
  }
}

//bsa custom classes

.bsa-logo {
  height: 3rem;
  padding-right: 0.75rem;
  position: relative;
  top: 0.17rem;
}

.bsa-full-logo {
  display: block;
  margin: 0 auto;
  width: 70vw;

  @media screen and (min-width: $tablet) {
    width: 12rem;
  }
}

.bsa-social {
  padding-top: $size-6;

  a {
    color: $grey;
    &:hover {
      color: $grey-dark;
    }
  }
}

.bsa-margin {
  @media screen and (max-width: 1023px) {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
}

.bsa-footer {
  border-top: 6px solid $bsa-light-gold;
}

.bsa-container {
  min-height: calc(100vh - 6rem);
}

.bsa-card {
  height: 100%;

  &.project-card {
    display: flex;
    flex-direction: column;

    .card-footer {
      margin-top: auto;
    }
  }
}

.bsa-post {
  &-img {
    width: 100%;
  }

  &-content > p:last-child::after {
    background-image: url("../public/images/post-signoff.svg");
    background-size: 100% 100%;
    background-position: right bottom;
    display: inline-block;
    height: 1.5rem;
    width: 8rem;
    position: relative;
    top: 0.35rem;
    right: 1.5rem;
    content: "";
  }
}

.bsa-project {
  p:first-of-type {
    @media screen and (min-width: $tablet) {
      font-size: $size-5;
    }
  }

  &-img {
    text-align: center;
    @media screen and (min-width: $tablet) {
      float: right !important;
      padding-left: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
}

//iconify

.iconify {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom !important;
}

:not(.token).number {
  align-items: center;
  background-color: $background;
  border-radius: $radius-rounded;
  display: inline-flex;
  font-size: $size-medium;
  height: 2em;
  justify-content: center;
  margin-right: 1.5rem;
  min-width: 2.5em;
  padding: 0.25rem 0.5rem;
  text-align: center;
  vertical-align: top;
}

@import "./prism-bsa.css"; //css for syntax highlighting
@import "./bulma-tags.scss"; //same logic as bulma tags just separated to avoid conflict with prism classes
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/form/select.sass";
@import "../node_modules/bulma/sass/form/tools.sass";
