/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: "Fira Code", Consolas, "Courier New", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2e3440;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.prism__token.prism__comment,
.prism__token.prism__prolog,
.prism__token.prism__doctype,
.prism__token.prism__cdata {
  color: #636f88;
}

.prism__token.prism__punctuation {
  color: #81a1c1;
}

.prism__namespace {
  opacity: 0.7;
}

.prism__token.prism__property,
.prism__token.prism__tag,
.prism__token.prism__constant,
.prism__token.prism__symbol,
.prism__token.prism__deleted {
  color: #81a1c1;
}

.prism__token.prism__number {
  color: #b48ead;
}

.prism__token.prism__boolean {
  color: #81a1c1;
}

.prism__token.prism__selector,
.token.prism__attr-name,
.prism__token.prism__string,
.prism__token.prism__char,
.prism__token.prism__builtin,
.prism__token.prism__inserted {
  color: #a3be8c;
}

.prism__token.prism__operator,
.token.prism__entity,
.prism__token.prism__url,
.language-css .prism__token.prism__string,
.prism__style .prism__token.prism__string,
.prism__token.prism__variable {
  color: #81a1c1;
}

.prism__token.prism__atrule,
.prism__token.prism__attr-value,
.prism__token.prism__function,
.prism__token.prism__class-name {
  color: #88c0d0;
}

.prism__token.prism__keyword {
  color: #81a1c1;
}

.prism__token.prism__regex,
.prism__token.prism__important {
  color: #ebcb8b;
}

.prism__token.prism__important,
.prism__token.prism__bold {
  font-weight: bold;
}

.prism__token.prism__italic {
  font-style: italic;
}

.prism__token.prism__entity {
  cursor: help;
}
